{% extends "account/base_entrance.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Signup" %}
{% endblock head_title %}
{% block content %}
    <div class="signup-intro">
        {% element h1 %}
            {% trans "Sign Up" %}
        {% endelement %}
        {% setvar link %}
            <a href="{{ login_url }}">
            {% endsetvar %}
            {% setvar end_link %}
            </a>
        {% endsetvar %}
        {% element p %}
            {% blocktranslate %}Already have an account? Then please {{ link }}sign in{{ end_link }}.{% endblocktranslate %}
        {% endelement %}
    </div>
    {% if not SOCIALACCOUNT_ONLY %}
        <div class="signup-form-wrap">
            {% url 'account_signup' as action_url %}
            {% element form form=form method="post" action=action_url tags="entrance,signup" %}
                {% slot body %}
                    {% csrf_token %}
                    {% if form.non_field_errors %}
                        <div class="form-errors form-errors-global">
                            {{ form.non_field_errors }}
                        </div>
                    {% endif %}

                    <div class="signup-field">
                        {{ form.username.label_tag }}
                        {{ form.username }}
                        {% if form.username.errors %}
                            <div class="field-errors">
                                {{ form.username.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="signup-field">
                        {{ form.email.label_tag }}
                        {{ form.email }}
                        {% if form.email.errors %}
                            <div class="field-errors">
                                {{ form.email.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="signup-field">
                        {{ form.password1.label_tag }}
                        {{ form.password1 }}
                        {% if form.password1.errors %}
                            <div class="field-errors field-errors-password">
                                {{ form.password1.errors }}
                            </div>
                        {% endif %}
                    </div>

                    <div class="signup-field">
                        {{ form.password2.label_tag }}
                        {{ form.password2 }}
                        {% if form.password2.errors %}
                            <div class="field-errors field-errors-password">
                                {{ form.password2.errors }}
                            </div>
                        {% endif %}
                    </div>

                    {{ redirect_field }}
                {% endslot %}
                {% slot actions %}
                    <div class="signup-actions">
                        {% element button tags="prominent,signup" type="submit" %}
                            {% trans "Sign Up" %}
                        {% endelement %}
                    </div>
                {% endslot %}
            {% endelement %}
        </div>
    {% endif %}
    {% if PASSKEY_SIGNUP_ENABLED %}
        {% element hr %}
        {% endelement %}
        {% element button href=signup_by_passkey_url tags="prominent,signup,outline,primary" %}
            {% trans "Sign up using a passkey" %}
        {% endelement %}
    {% endif %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %}
