SECRET_KEY=change-me
DEBUG=True
PROJECT_TITLE=MyDjango
ALLOWED_HOSTS=localhost,127.0.0.1,dev.tail92d6ce.ts.net
CSRF_TRUSTED_ORIGINS=http://localhost:8000,http://dev.tail92d6ce.ts.net:8000
DATABASE_URL=postgres://postgres:postgres@postgres:5432/postgres
REDIS_URL=redis://redis:6379/0